<%= form_for [post, comment] do |f| %> 
  <div class =  <%= form_group_tag(comment.errors[:body])%>> 
  <%= f.label :body %> 
  <%= f.text_area :body, rows: 1, class: 'form-control' %>
  </div>
  <%= f.submit "Save", class: 'btn btn-success' %>
<% end %> 

